@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #7a7a7a;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    background: linear-gradient(310deg, #83aede 4%, #fff 76%);
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a{
    color: var(--color-dark);
}


h1{
    font-weight: 800;
    font-size: 2.5rem;
}

h2{
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 10px;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}


p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}



.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: auto;
}

header {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    gap: 0.6rem;
    transition: all 0.3s ease;
    padding: 0.6rem;
}

.navbar a:hover {
    animation: barAnim 2s ease 0s 1 normal forwards;
    background-color: var(--color-light);
    border-radius: var(--border-radius-1);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.navbar h3 {
    font-weight: 400;
    font-size: 16px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.forms-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    justify-content: space-between;
}

.validated-field {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.2rem;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.form-field {
    margin-bottom: 0.2rem;
    position: relative;
}

.form-field label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
}

.card-content {
    display: grid;
    width: 300px;
}
.card-content .form-field {
    display: flex;
    flex-direction: column;
}
.card{
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.card-content .form-field input {
    border: 1px solid var(--color-dark-variant);
    padding: 0.4rem;
}
.button, button {
    background: linear-gradient(310deg, var(--color-info-dark), #dcdcdc 40%);
    padding: 6px 16px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    border: none;
    cursor: pointer;
    max-width: 100px;
    margin: 5px auto 0;
    transition: all 0.3s;
}

.button:hover, button:hover {
    transform: translateY(-1px);
    background: linear-gradient(310deg, #b0b0b0, #dcdcdc 70%);
    color: white;
}

.form-field input[type="checkbox"] {
    position: absolute;
    top: 30%;
    transform: translatex(285px);
    margin-right: 8px;
}

#Items-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 850px;
    margin-top: 20px;
}
#ID{
    user-select: text;
}


@media (max-width: 767px) {
    .forms-container {
        display: block;
        margin-top: 8rem;
        margin-bottom: 1rem;
    }
}

@keyframes barAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
